  /* ═══════『 💨 Custom Friend Activity For Vertical Monitor 』 */
  @media (max-width: 1200px) {
    .container__5c7e7 .tabBody_b3d268 {
      flex-direction: column;
    }

    .nowPlayingColumn_f5023f {
      flex: unset;
      display: block !important;
      min-width: 100%;
      margin: 0px !important;
      max-height: 50%;
    }

    .nowPlayingColumn_f5023f .container__0a6a9 {
      border-radius: 0px !important;
    }

    .nowPlayingColumn_f5023f .scroller__00e7e {
      border-top: 1px solid var(--background-modifier-accent);
      border-left: none;
      margin-left: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-auto-rows: min-content;
      gap: 8px;
      align-items: start;
      grid-auto-flow: row dense;
    }

    .nowPlayingColumn_f5023f .header__123bf, .nowPlayingColumn_f5023f .emptyCard_f82dde {
      grid-column: 1/-1;
      text-align: center;
    }

    .nowPlayingColumn_f5023f .itemCard__1f162.wrapper__6e669 {
      margin: 0px !important;
      height: -webkit-fill-available;
    }

    .nowPlayingColumn_f5023f .itemCard__1f162:has(.section_efc22d:nth-child(1):last-child) {
      grid-row: span 2;
    }

    .nowPlayingColumn_f5023f .itemCard__1f162:has(.section_efc22d:nth-child(2):last-child) {
      grid-row: span 3;
    }

    .nowPlayingColumn_f5023f .itemCard__1f162:has(.section_efc22d:nth-child(3):last-child .applicationStreamingPreviewWrapper__97a95) {
      grid-row: span 4;
    }

    .nowPlayingColumn_f5023f .itemCard__1f162:has(.section_efc22d:nth-child(4):last-child .applicationStreamingPreviewWrapper__97a95) {
      grid-row: span 5;
    }
  }